[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
nltk = "*"
googlemaps = "*"
pymediawiki = "*"
click = "*"
flask = "*"

[dev-packages]
pytest = "*"
pylint = "*"
"flake8" = "*"
mypy = "*"
jupyter = "*"

[requires]
python_version = "3.7"
