{% extends "bootstrap/base.html" %}

{% block title %}
Bienvenue chez GrandPy !
{% endblock %}

{% block head %}
{{ super() }}
<!--
    SRC favico: https://cdn.pixabay.com/photo/2013/07/13/13/24/man-160973_960_720.png
    License: https://pixabay.com/fr/service/terms/#license
-->
<link rel="shortcut icon" href="{{ url_for('static', filename='favico.png') }}">
<script type="text/javascript" src="{{ url_for('static', filename='grandpy.js')}}"></script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ google_public_api_key }}">
</script>
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='grandpy.css')}}">
{% endblock %}

{% block content %}
<div class="container" id="maindiv">
    <div class="container mt-5">
        <div class="row">
            <div class="col col-sm-4">
                <!--
                SRC picture: https://cdn.pixabay.com/photo/2012/04/24/13/36/old-40092_960_720.png
                License: https://pixabay.com/fr/service/terms/#license
                -->
                <img id="grandpy" src="{{ url_for('static', filename='grandpy.png')}}">
                <h3>Salut mon gars !</h3>
            </div>
            <div class="col col-sm-7">
                <form action="#" id="GrandPy">
                    <div class="form-group">
                        <label for="ask-grandpy">
                            Alors, dis à GrandPy !
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="ask-grandpy"
                                placeholder="Que veux-tu savoir aujourd'hui ?">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="submit" id="ask">Vas-y !</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="chat-area"></div>
</div>
{% endblock %}
