img#grandpy {
    width: 45%;
}
body {
    background-color: #ededed;
}

#maindiv {
    width: 75pc;
    background-color: #f7f7f7;
    border-radius: 25px;
    padding: 1pc;
    margin-top: 1pc;
}

div#chat-area {
    margin-top: 1pc;
    text-align: center;
    height: 30em;
    overflow-y: scroll;
    flex-direction: column-reverse;
    flex-grow: 1;
    display: none;
}

div.chat-entry {
    width: 50pc;
    border-radius: 25px;
    padding: 1pc;
    margin-top: 1pc;
    border: 1px solid #b7b7b7;
    display: inline-block;
    flex: 1;
    background-color: #ededed;
}

div.chat-entry h3 {
    border-bottom: 1px solid #b7b7b7;
    padding-bottom: 10px;
}

div.chat-entry p {
    text-align: justify;
}

 div.chat-entry div.map {
     align: center;
     height: 300px;
     width: 750px;
 }

 .form-control:focus {
   border-color: #b7b7b7;
   box-shadow: inset 0 1px 1px #b7b7b7, 0 0 8px #b7b7b7;
 }
