img#grandpy {
    width: 45%;
}

img#github-ico {
    width: 20px;
    height: 20px;
}

img#linkedin-ico {
    width: 20px;
    height: 20px;
}

body {
    background-color: #ededed;
}

#maindiv {
    width: 75pc;
    background-color: #f7f7f7;
    border-radius: 25px;
    padding: 1pc;
    margin-top: 1pc;
}

footer {
    width: 75%;
    height: 5%;
    position: fixed;
    background-color: #f7f7f7;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    right: 12.5%;
    padding-left: 5%;
    bottom: 0;
    vertical-align: center;
    text-align: center;
}

footer a:hover {
    text-decoration: none;
}

div#chat-area {
    margin-top: 1pc;
    margin-bottom: 2pc;
    text-align: center;
    height: 30em;
    overflow-y: scroll;
    flex-direction: column-reverse;
    flex-grow: 1;
    display: none;
}

div.chat-entry {
    width: 50pc;
    border-radius: 25px;
    padding: 1pc;
    margin-top: 1pc;
    border: 1px solid #b7b7b7;
    display: inline-block;
    flex: 1;
    background-color: #ededed;
    margin-bottom: 2pc;
}

div.chat-entry h3 {
    border-bottom: 1px solid #b7b7b7;
    padding-bottom: 10px;
}

div.chat-entry p {
    text-align: justify;
}

 div.chat-entry div.map {
     align: center;
     height: 300px;
     width: 750px;
 }

.form-control:focus {
    border-color: #b7b7b7;
    box-shadow: inset 0 1px 1px #b7b7b7, 0 0 8px #b7b7b7;
}

.waiting {
    cursor: progress;
}

@media (min-width: 0px) and (max-width: 1000px) {
    form {
        width: 95%;
    }
    div#maindiv {
        width: 100%;
    }
    div.chat-entry {
        width: 95%;
    }
    footer {
        height: 7%;
    }
}

@media (min-width: 0px) and (max-width: 600px) {
    div#logo {
        display: none;
    }
    div.chat-entry div.map {
        align: center;
        height: 280px;
        width: 280px;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    div#logo h3 {
        display: none;
    }
    div.chat-entry div.map {
        align: center;
        height: 400px;
        width: 400px;
    }
}
